.pack-box {
	
	width: 85%;
	margin: 0 auto;
	height: 300px;
	margin-top: 40px;
}

.pack-box .box-left {
	width: 40%;
	height: 300px;
	float: left;
}

.pack-box .box-left .img-data {
	width: 96%;
	height: auto;
}

.pack-box .box-right {
	width: 60%;
	height: 300px;
	float: right;
}

.pack-box .box-right  h1 {
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pack-box .box-right p {
	margin-bottom: 10px;
}

.pack-box .box-right .author {
	font-size: 16px;
}

.pack-box .box-right .price {
	font-family: sans-serif;
	font-weight: bold;
}

.pack-box .box-right .btn-buy {
	width: 120px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #ff8080;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.pack-box .box-right .btn-buy:hover {
	background-color: #f44848;
}


.packz-about {
	width: 85%;
	margin:0 auto;
	margin-top: 10px;
}

.packz-about .ab-data {
	text-align: justify;
}

.packz-about .packz-small-box {
	width: 80%;
	margin-top: 10px;
}

.packz-about .btn-buy {
	margin-top: 10px;
	margin-bottom: 40px;
	width: 120px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #ff8080;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.packz-about .btn-buy:hover {
	background-color: #f44848;
}